<h1># event-news-blog</h1>
<p>bienvenue dans la gare du concert, et du voyage. personnalize les annonces d'arrivée du train et les prochain concert, les temps de concert, train musical en direction d'un concert</p>
<p>creer un fil de traveling news</p>
<p>creer un fil de concert news</p>
<p>embarque à bord du train si tu n'as du temps que pour rester dans le train vers le concert, comme si le concert est prevu comme larrivée du train</p>
<p>
quel est le temps de trejet?
<input />
</p>
<p>
quel est le temps de concert?
<input />
</p>
<p>
quel est le temps de preparation pour ce concert?
<input />
</p>
